[Unit]
Description = Promtail for Loki
After = network.target

[Service]
ExecStart = /usr/bin/promtail-linux-amd64 -config.file /etc/promtail/promtail-local-config.yaml 
Type = simple
TimeoutStartSec = 0

[Install]
WantedBy = default.target


